# Ignora dependências
node_modules/

# Ignora variáveis de ambiente sensíveis
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Ignora as pastas de produção (caso você use build)
dist/
build/

# Outros arquivos que não precisam ir pro Git
*.log